
	h1
	{
	font-family: comic sans MS;
		font-style: bold;
		text-align:center;
		margin-bottom: 45px;
	}
	*{
		box-sizing: border-box;
	}
	#p1
	{
		width:350px;
	    border: 2px solid black;
		float:left;
		position: :absolute;
		margin-left: 24px;
		padding:10px;
		height:200px;
		margin-bottom:10px;
			font-family: comic sans MS;
		font-style: bold;
		background-color: gray;
		margin-right: 10px;}
#box1
{
	width:70px;
	height:30px;
	top:-7%;
	border:2px solid black;
	position:relative;
	left:82%;
	background-color: pink;


}
#box2
{
	width:70px;
	height:30px;
	top:-7%;
	border:2px solid black;
	position:relative;
	left:82%;
	background-color: red;
    align-self: center;

}
#box3
{
	width:70px;
	height:30px;
	top:-7%;
	border:2px solid black;
	position:relative;
	left:82%;
	background-color: yellow;
    align-self: center;
    overflow: auto;

}


	#name1
	{
		
			font-family: comic sans MS;
		font-style: bold;
		text-align: center;
	}
	#name2
	{
		
			font-family: comic sans MS;
		font-style: bold;
		color:white;
		text-align: center;
	}
	#name3
	{
		
		font-family: comic sans MS;
		font-style: bold;
	text-align:center;
	}
	#p2
	{
			font-family: comic sans MS;
		font-style: bold;
		width:350px;
	    border: 2px solid black;
		float:left;
		margin-left: 24px;
		padding:10px;
		margin-bottom:10px;
		height:200px;
		background-color: gray;
		margin-right: 10px;
	}
	#p3
   {
   		font-family: comic sans MS;
		font-style: bold;
		overflow:hidden;
    	width:350px;
    
	    border: 2px solid black;
		float:left;
		margin-left: 24px;
		margin-bottom:10px;
		padding:10px;
		height:200px;
		background-color: gray;
	}
	
@media(min-width:768px) and (max-width:991px)
	{
	
		
	
	#p3{
		width:100%;
		float:left;
	}
	@media (max-width:767px)
	{
		#p1{width:100%;}
		#p2{width:100%;}
		
	
	#p3{
		width:100%;
	}

